@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <a href="@Url.Action("Geolocation", "Home")">
            <button>Click here to proceed.</button>
        </a>
        </div>

    <p> @ViewData["userIpAddress"]</p>
    <p> @ViewData["userIpAddress1"]</p>
    <p> @ViewData["xff"]</p>
    <p> @ViewData["ip"]</p>
   
    <p> @ViewData["locationInfo"]</p>
    <p> @ViewData["locationInfo1"]</p>
    <p> it should be displayed above this message.</p>

</div>
